
<html>

<head>
<style>
/*@font-face {
	font-family: 'Camberia';
	src: url('/fonts/Cambria.ttf') format('truetype');
}*/
table,th,td{
	border:1px solid black;
	border-collapse: collapse;
	font-family: Camberia;
}

/*body{
	font-family: Camberia, sans-serif;
}*/
</style>
</head>
<body>
<p>
To,<br>
<b><%= raw @client_work_details[0].client_name_address.to_s.split("\r\n")[0] %></b><br>
<%= raw @client_work_details[0].client_name_address.to_s.split("\r\n")[1] %><br>
<%= raw @client_work_details[0].client_name_address.to_s.split("\r\n")[2] %><br>
<%= raw @client_work_details[0].client_name_address.to_s.split("\r\n")[3] %><br>
<%= raw @client_work_details[0].client_name_address.to_s.split("\r\n")[4] %><br>
<%= raw @client_work_details[0].client_name_address.to_s.split("\r\n")[5] %>
</p>
<br><br><br>
<table style="width:100%" >
	<tr>
		<td colspan="7" style="text-align:center;font-weight:bold;height:30px;font-family: Camberia;border: 2px solid;">
			INVOICE
		</td>
	</tr>
	
	<tr style="font-size: 12px;">
		<td colspan="2.5">Campaign/Event Duration - <%= raw @client_work_details[0].campaign_event_duration.to_s %></td>
		<td colspan="2.5" >Campaign/Event Name - <%= raw @client_work_details[0].campaign_event_name.to_s %></td>
		<td colspan="2">Job Done On: <%= raw @client_work_details[0].job_done_on.to_s %></td>
	</tr>

	<tr style="font-size: 12px;">
		<td colspan="2.5">Location(s): <%= raw @client_work_details[0].location.to_s %>.</td>
		<td colspan="2.5">Bill No: <%= raw @client_work_details[0].bill_number.to_s %></td>
		<td colspan="2">Bill Date:<%= raw @client_work_details[0].bill_date.to_s %></td>
	</tr>
</table >
<table style="width:100%">
	<tr style="height:20px;font-weight:bold;font-size: 12px;">

		<td>SL NO</td>
		<td>Name</td>
		<td style="width:50%">SPECIFICATION</td>
		<td>SIZE</td>
		<td>QTY</td>
		<td>COST</td>
		<td>TOTAL</td>
	</tr>
<%
 counter = 1
%>

<% @bill_details.each do |bd,index| %>
<tr style="font-family: Camberia; font-size:9px;">

	<td><%= counter%></td>
	<td><%= bd.name%></td>
	<td style="width:50%"><%= bd.specification%></td>
	<td><%= bd.size%></td>
	<td><%= bd.qty%></td>
	<td><%= bd.cost%></td>
	<td><%= bd.total%></td>
</tr>
<% counter = counter+1 %>
<% end %>


<tr style="height:30px; border: 2px solid;">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td><%= @client_work_details[0].total_of_total.to_f %></td>
</tr>
</table>
<br>
<table style="width:100%">
<tr style="font-size: 12px;">

	<td ><b>Bank Details:</b></td>
	<td >Rajarshi Sarkar</td>
	<td><b>SUBTOTAL:</b></td>
	<td><%= @client_work_details[0].total_of_total.to_f %></td>
	<td>ADDITIONAL CHARGES INFO.</td>
	

</tr>
<tr style="font-size: 12px;">

	<td>Bank Name:</td>
	<td> State Bank Of India</td>
	<td></td>
	<td></td>
	<td rowspan="9"></td>
</tr>
<tr style="font-size: 12px;">
	<td >Account No:</td>
	<td > 40617104945</td>
	<td><b>ADDITIONAL/DISCOUNT:</b></td>
	<td><%= @client_work_details[0].additional_or_discount.to_f %></td>
</tr>
<tr style="font-size: 12px;">
	<td >IFSC CODE:</td>
	<td > SBIN0001489</td>
	<td><b>GROSS AMOUNT:</b></td>
	<td style="font-weight: bold;"><%= @client_work_details[0].gross_amount.to_f %></td>
</tr>
<tr style="font-size: 12px;">

	<td><b>Agency Details:</b></td>
	<td></td>
	<td><b>ADVANCED:</b></td>
	<td><%= @client_work_details[0].advanced.to_f %></td>
</tr>

<tr style="font-size: 12px;">

	<td >Agency Name:</td>
	<td >SUNSHINE AD SOLUTIONS</td>
	<td rowspan="2"></td>
	
</tr>
<tr style="font-size: 12px;">

	<td >License No:</td>
	<td >15041024823</td>
	
</tr>
<tr style="height:30px;font-size: 12px;">

	<td>Address:</td>
	<td>267, Sarat Chatterjee Rd, Parnasree Palli, Behala, Kolkata-700060</td>
	<td style="font-weight: bold; border:2px solid;"><b>TOTAL PAYBALE AMOUNT</b></td>
	<td style="font-weight: bold; border:2px solid;"><%= @client_work_details[0].payable_amount.to_f %></td>
	
</tr>
<tr style="font-size: 12px;">

	
	
</tr>
<tr style="font-size: 12px;" >

</tr>
</table>
<table style="width:100%">

<tr style="font-size: 12px;">

	<td style="width:30%">Contact number of agency person(s):</td>
	<td >9051637782<br>9836666946</td>
	
</tr>
</table>
<table style="width:40%;float:right">

<tr style="height:100px">
	<td style="vertical-align:bottom;text-align:center">
		Authorized Signature
	</td>
<tr>
</table>

</body>
</html>